.arrow-up {
  animation: arrowUp 0.3s ease-in-out;
}

.arrow-down {
  animation: arrowDown 0.3s ease-in-out;
}

.listCard {
  animation: listCardOpen 0.3s ease-in-out;
}

@keyframes arrowUp {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes arrowDown {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes listCardOpen {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
